header{
    position: relative;
    .header-one{
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        .logo-capt{
            display: flex;
            align-items: center;
            .logo{
                text-align: center;
            }
        }
        .menu-list{
            align-items: center;
            .free-quote{
                font-size: 16px !important;
                color: #ffffff !important;
                background-color: #E67118;
                padding: 10px 25px;
                border-radius: 25px;
            }
            .mnu-btn{
                font-family: "Jost", sans-serif;
                font-size: 18px; // 18px , 26px
                color: #222222;
                text-decoration: none;
                margin: 0 10px;
                text-align: center;
                transition: 0.3s ease-in; 
                &:hover{
                    color: #E67118;
                }
            }
        }
        .burger-menu{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            height: 0px;
            background-color: #E67118;
            position: absolute;
            top: 54px;
            left: 0;
            overflow: hidden;
            .mnu-btn{
                color: #ffffff;
                padding: 5px 15px;
                &:hover{
                    color: #2A2A2A;
                }
            }
        }
        .burger-menu-button{
            .burger-button{
                border: none;
                outline: none;
                background-color: transparent;
                padding: 2px 7px; 
                border-radius: 50%;
                transition: 0.3s ease-in-out;
                .burger-btn{
                    font-size: 20px;
                    text-align: center;
                    transition: 0.3s ease-in-out;
                }
                &:hover{
                    background-color: #E67118;
                }
            }
        }
    }
    .header-two{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;  
        background: url("../images/h1_hero.jpg") no-repeat;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        .hero-caption{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .hero-text{
                max-width: 640px;
                font-size: 55px;
                color: #ffffff;
                font-family: "Jost", sans-serif;
                text-align: center;
            }
            .hero-btn{
                font-size: 18px;
                font-family: "Jost", sans-serif;
                color: #ffffff;
                background-color: #2A2A2A;
                text-decoration: none;
                text-transform: capitalize;
                margin-top: 32px;
                border-radius: 41px;
                padding: 25px 34px;
                border: 1px solid #2A2A2A;
                line-height: 16px;
                transition: 0.5s ease-in-out;
                &:hover{
                    background: none;
                    border: 1px solid #2A2A2A;
                    color: #2A2A2A !important;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .header{
        .header-one{
            .burger-menu-button{
                display: none;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .header{
        .header-one{
            padding: 10px 15px;
            .menu-list-one, .menu-list-two{
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header{
        .header-two{
            height: 400px;
            .hero-caption{
                .hero-text{
                    font-size: 42px;
                }
                .hero-btn{
                    margin-top: 25px;
                    padding: 15px 34px;
                }
            }
        }
    }
}